body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  .reaction {
    color: red;
  }

  .memory {
    color: yellow;
  }

  .verbal {
    color: green;
  }

  .visual {
    color: blue;
  }

  .summary {
    text-align: left;
  }

  .score {
    font-size: 60px;
    color: #ffffff;
  }

  .out-off {
    font-size: 20px;
  }

  body {
    text-align: center;
    
  }

  .column {
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 0%,#d72cea 0%,#7034d8 100%,#2989d8 100%);
    border: 1px solid black; 
    padding: 10px; 
    border-radius: 10px;
;
  }

  .content {
    text-align: center;
}